services:
  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Madrid
    volumes:
      - ./config:/config
      - /mnt/externaldisk0/media/movies:/movies #optional
      - /mnt/externaldisk0/media/default:/downloads/default #optional
    ports:
      - 7878:7878
    restart: unless-stopped
    networks:
      - jellyfin

networks:
  jellyfin:
    external: true
