services:
  grafana:
    container_name: grafana
    image: grafana/grafana
    user: "1000:1000"
    ports:
      - 3000:3000
    volumes:
      - /mnt/externaldisk0/grafana/grafana-data:/var/lib/grafana
      - /mnt/externaldisk0/grafana/provisioning:/etc/grafana/provisioning/
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
    networks:
      - prometheus
networks:
  prometheus:
    external: true
