services:
  grafana:
    container_name: grafana
    image: grafana/grafana
    user: "1000:1000"
    ports:
      - 3000:3000
    volumes:
      - /mnt/externaldisk0/grafana/grafana-data:/var/lib/grafana
      - /mnt/externaldisk0/grafana/provisioning:/etc/grafana/provisioning/
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
    networks:
      - prometheus
      - loki
    entrypoint:
      - sh
      - -euc
      - |
        mkdir -p /etc/grafana/provisioning/datasources
        cat <<EOF > /etc/grafana/provisioning/datasources/ds.yaml
        apiVersion: 1
        datasources:
        - name: Loki
          type: loki
          access: proxy
          orgId: 1
          url: http://loki:3100
          basicAuth: false
          isDefault: false
          version: 1
          editable: false
        - name: prometheus
          type: prometheus
          access: proxy
          orgId: 1
          url: http://prometheus:9090
          basicAuth: false
          isDefault: true
          version: 1
          editable: false
        EOF
        /run.sh

  loki:
    image: grafana/loki:latest
    container_name: loki
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml
    networks:
      - loki

  promtail:
    container_name: promtail
    image: grafana/promtail:latest
    volumes:
      - /var/log:/var/log
    command: -config.file=/etc/promtail/config.yml
    networks:
      - loki

networks:
  prometheus:
    external: true
  loki:
