services:
  app:
    build: .
    image: spliit:latest
    container_name: spliit
    ports:
      - 3954:3000
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
  db:
    image: postgres:latest
    container_name: spliit-database
    expose:
      - 5432
    env_file:
      - .env
    volumes:
      - /mnt/externaldisk0/spliit/postgres_data:/var/lib/postgresql/data
    healthcheck:
      test:
        - CMD-SHELL
        - pg_isready -U postgres
      interval: 5s
      timeout: 5s
      retries: 5
networks: {}
