services:
    couchdb-obsidian-live-sync:
        container_name: couchdb-obsidian-live-sync
        image: couchdb:latest
        restart: unless-stopped
        ports:
            - '5984:5984'
        volumes:
            - /mnt/externaldisk0/obsidian/couchdb-etc:/opt/couchdb/etc/local.d
            - /mnt/externaldisk0/obsidian/couchdb-data:/opt/couchdb/data
        environment:
            - COUCHDB_PASSWORD=${password}
            - COUCHDB_USER=${username}
            - TZ=Europe/Madrid
            - PUID=1000
            - PGID=1000
        healthcheck:
          test: curl --fail -s http://localhost:5984/_up | grep -Eo '\"status\":\"ok\"' || exit 1
          start_period: 60s
          interval: 30s
          timeout: 10s
          retries: 3

# https://www.reddit.com/r/selfhosted/comments/1eo7knj/guide_obsidian_with_free_selfhosted_instant_sync/
