services:
  reverse-proxy:
    image: traefik:v3.1
    container_name: traefik
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
#    command:
#    labels:
    ports:
      # The HTTP port
      - "80:80"
      # The HTTPS port
      - "443:443"
      # The Web UI (enabled by --api.insecure=true)
      - "8080:8080"
    volumes:
      # So that Traefik can listen to the Docker events
      - /var/run/docker.sock:/var/run/docker.sock
      # Local Time
      - /etc/localtime:/etc/localtime:ro
      # Configs
      - ./config/traefik.yml:/traefik.yml:ro
      - ./config/dynamic_conf.yml:/dynamic_conf.yml:ro
      - ./config/letsencrypt:/letsencrypt

    networks:
      - traefik

networks:
  traefik:
    external: true
