services:
  filebrowser:
    container_name: filebrowser
    restart: unless-stopped
    image: filebrowser/filebrowser:latest
    ports:
      - "8086:80"
    volumes:
#      - ../../:/srv
      - ./filebrowser.db:/database/filebrowser.db
      - ./settings.json:/config/settings.json
      - /mnt:/srv
    environment:
      PUID: "1000"
      PGID: "1000"
