services:
  filebrowser:
    container_name: filebrowser
    volumes:
#      - /mnt:/home
      - /mnt:/srv
      # optional if you want db to persist - configure a path under "database" dir in config file.
      - ./filebrowser:/home/filebrowser/
#      - "./config.yaml:/home/filebrowser/config.yaml"
      # optional mount a temp directory to use. Generally, there is no need for this unless your user is not root or filebrowser.
      # - './tmp/:/home/filebrowser/tmp/'
    ports:
      - 8086:80
    image: gtstef/filebrowser:latest
    # optionally run as non-root filebrowser user
    user: "1000:1000"
    restart: unless-stopped
    environment:
      - FILEBROWSER_ADMIN_PASSWORD=${FILEBROWSER_ADMIN_PASSWORD}
#      - FILEBROWSER_ONLYOFFICE_SECRET=${FILEBROWSER_ONLYOFFICE_SECRET}
#      - FILEBROWSER_CONFIG
