services:
  filebrowser:
    container_name: filebrowser
    image: ghcr.io/gtsteffaniak/filebrowser:latest
    restart: unless-stopped
    ports:
      - 8086:80
    user: "1000:1000"
    environment:
#      - FILEBROWSER_ADMIN_PASSWORD=${FILEBROWSER_ADMIN_PASSWORD}
      - FILEBROWSER_ONLYOFFICE_SECRET=${FILEBROWSER_ONLYOFFICE_SECRET}
      - FILEBROWSER_CONFIG=/home/filebrowser/config.yaml
    volumes:
      - /mnt:/srv                         # your data source
      - ./filebrowser/config.yaml:/home/filebrowser/config.yaml:ro
      - ./filebrowser/data:/home/filebrowser/data
      - ./filebrowser/data/db:/home/filebrowser/database
      - ./filebrowser/data/tmp:/home/filebrowser/tmp

  onlyoffice:
    container_name: onlyoffice
    image: onlyoffice/documentserver
    restart: unless-stopped
    ports:
      - 8901:80
    environment:
      - JWT_SECRET=${FILEBROWSER_ONLYOFFICE_SECRET}
