services:
  web:
    #build: ./frontend/
    image: ghcr.io/seanmorley15/adventurelog-frontend:latest
    container_name: adventurelog-frontend
    restart: unless-stopped
    environment:
      - PUBLIC_SERVER_URL=http://server:8000 # Should be the service name of the backend with port 8000, even if you change the port in the backend service
      - ORIGIN=https://adventurelog.jaumoso.ovh
      - BODY_SIZE_LIMIT=Infinity
    ports:
      - 8015:3000
    depends_on:
      - server
    networks:
      - adventurelog
      - adventurelog-internal
  db:
    image: postgis/postgis:15-3.3
    container_name: adventurelog-db
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - /mnt/externaldisk0/adventurelog/postgres_data:/var/lib/postgresql/data/
    networks:
      - adventurelog
      - adventurelog-internal
  server:
    #build: ./backend/
    image: ghcr.io/seanmorley15/adventurelog-backend:latest
    container_name: adventurelog-backend
    restart: unless-stopped
    environment:
      - PGHOST=db
      - PGDATABASE=${POSTGRES_DB}
      - PGUSER=${POSTGRES_USER}
      - PGPASSWORD=${POSTGRES_PASSWORD}
      - SECRET_KEY=${SECRET_KEY}
      - DJANGO_ADMIN_USERNAME=${DJANGO_ADMIN_USERNAME}
      - DJANGO_ADMIN_PASSWORD=${DJANGO_ADMIN_PASSWORD}
      - DJANGO_ADMIN_EMAIL=${DJANGO_ADMIN_EMAIL}
      - PUBLIC_URL=http://server:80
      - CSRF_TRUSTED_ORIGINS=https://adventurelog.jaumoso.ovh,http://web:3000,http://server:80 # Comma separated list of trusted origins for CSRF
      - DEBUG=False
      - FRONTEND_URL=https://adventurelog.jaumoso.ovh # Used for email generation. This should be the url of the frontend
      - EMAIL_BACKEND=email
      - EMAIL_HOST=smtp.gmail.com
      - EMAIL_USE_TLS=True
      - EMAIL_PORT=587
      - EMAIL_USE_SSL=False
      - EMAIL_HOST_USER=${EMAIL_HOST_USER}
      - EMAIL_HOST_PASSWORD=${EMAIL_HOST_PASSWORD}
      - DEFAULT_FROM_EMAIL=${DEFAULT_FROM_EMAIL}
    ports:
      - 8016:80
    depends_on:
      - db
    volumes:
      - /mnt/externaldisk0/adventurelog/media:/code/media/
    networks:
      - adventurelog
      - adventurelog-internal
networks:
  adventurelog-internal: null
  adventurelog:
    external: true
