services:
  readarr:
    image: lscr.io/linuxserver/readarr:develop
    container_name: readarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
    volumes:
      - /mnt/externaldisk0/readarr:/config
      - /mnt/externaldisk0/media/books:/books #optional
      - /mnt/externaldisk0/media/default:/downloads/default #optional
    ports:
      - 8787:8787
    restart: unless-stopped
    networks:
      - jellyfin

networks:
  jellyfin:
    external: true
