services:
  glances:
    container_name: glances
    image: nicolargo/glances:latest
    restart: unless-stopped
    pid: host
    privileged: true
    network_mode: host
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./glances.conf:/glances/conf/glances.conf
      - ./plugins:/home/user/dev/plugins
    environment:
      - TZ=Europe/Madrid
      - GLANCES_OPT=-C /glances/conf/glances.conf -w
#    runtime: nvidia
#    deploy:
#      resources:
#        reservations:
#          devices:
#            - driver: nvidia
#              count: 1
#              capabilities:
#                - gpu
    secrets:
      - glances_password
secrets:
  glances_password:
    file: ./glances_password
networks: {}
