# docker-compose.yaml
version: "3.8"

services:
  minecraft-server:
    # network_mode: host
    image: itzg/minecraft-server
    container_name: minecraft-server
    restart: unless-stopped
    ports:
      # Minecraft port
      - 25565:25565
      # RCON port
      # - 25575:25575
      # Port for map plugin
      # - 8123:8123
    tty: true
    stdin_open: true
    environment:
    # OS
      MEMORY: 1G
      MAX_MEMORY: 16G
      TZ: Europe/Madrid
      ENABLE_ROLLING_LOGS: "true"

    # Minecraft
      EULA: "true"
      SERVER_NAME: "\u00a7c\u00a7k!!!\u00a7b\u00a7l Mediterranean Line\u00a7r \u00a7f\u00a7l\u00a7o\u00a7nServer\u00a7c\u00a7k !!!\u00a7r"
      MOTD: "\u00a7f\u00a7o\u00a7nThe One Piece awaits"
      #! Vanilla
      TYPE: "vanilla"
      VERSION: "latest"
      #! Spigot
      # TYPE: "spigot"
      # VERSION: "1.20.4"
      DIFFICULTY: "normal"
      MODE: "survival"
      ICON: "https://cdn.discordapp.com/icons/968804194603655178/54dbb6fb5b04a4e3a7872dcc355b25ec.webp"
      OVERRIDE_ICON: "true"
      FORCE_GAMEMODE: "true"
      SPAWN_PROTECTION: 10
      VIEW_DISTANCE: 15
      ENABLE_COMMAND_BLOCK: "true"

    # RCON
    #  ENABLE_RCON: "false"
      RCON_PASSWORD: "!5[L;+38txYWJ8m"

    # SERVER
      ENABLE_STATUS: "true"
      FUNCTION_PERMISSION_LEVEL: 0
      OP_PERMISSION_LEVEL: 4
      STOP_SERVER_ANNOUNCE_DELAY: 120
      EXEC_DIRECTLY: "false"
      ONLINE_MODE: "true"
      OPS: |
        Jaumoso

    # Resource management
      ENABLE_AUTOPAUSE: "true"
      AUTOPAUSE_TIMEOUT_EST: 3600
      AUTOPAUSE_TIMEOUT_INIT: 600
      AUTOPAUSE_TIMEOUT_KN: 120
      AUTOPAUSE_PERIOD: 10
      MAX_TICK_TIME: -1

    volumes:
      - /mnt/externaldisk0/minecraft/mc-data:/data

    healthcheck:
      test: mc-health
      start_period: 1m
      interval: 5s
      retries: 20

    networks:
      - rcon

  minecraft-backups:
    image: itzg/mc-backup
    container_name: minecraft-backups
    restart: unless-stopped
    environment:
      BACKUP_INTERVAL: "24h"
      RCON_HOST: minecraft-server
      INITIAL_DELAY: 0
      PRE_BACKUP_SCRIPT: |
        echo "Se va a crear una copia de seguridad del mundo."
      POST_BACKUP_SCRIPT: |
        echo "Copia de $$RCON_HOST a la carpeta $$DEST_DIR completada."
    volumes:
      - /mnt/externaldisk0/minecraft/mc-data:/data:ro
      - /mnt/externaldisk0/minecraft/mc-backups:/backups
    depends_on:
      minecraft-server:
        condition: service_healthy

  minecraft-restore-backup:
    image: itzg/mc-backup
    container_name: minecraft-restore-backup
    restart: "no"
    entrypoint: restore-tar-backup
    volumes:
      # Must be same mount as mc service, needs to be writable
      - /mnt/externaldisk0/minecraft/mc-data:/data
      # Must be same mount as backups service, but can be read-only
      - /mnt/externaldisk0/minecraft/mc-backups:/backups:ro

  minecraft-rcon:
    image: itzg/rcon
    container_name: minecraft-rcon
    restart: unless-stopped
    environment:
      RWA_USERNAME: admin
      RWA_PASSWORD: admin
      RWA_ADMIN: "TRUE"
      # is referring to the service name 'mc' declared below
      RWA_RCON_HOST: minecraft-server
      # needs to match the password configured for the container, see RCON_PASSWORD below
      RWA_RCON_PASSWORD: "!5[L;+38txYWJ8m"
    ports:
      - "4326:4326"
      - "4327:4327"
    networks:
      - rcon

networks:
  rcon:
